{% extends 'AcmePocBundle::layout.html.twig' %}

{% block title 'MyAwesomeWebsite - Home' %}

{% block sidebar %}
    {{ parent() }}
{% endblock sidebar %}

{% block main %}
    <h2>Homepage</h2>
    <div class="container">
        This is the homepage
    </div>
{% endblock main %}