{% extends 'AcmePocBundle::layout.html.twig' %}

{% block title 'MyAwesomeWebsite - Profile settings' %}

{% block sidebar %}
    {{ parent() }}
{% endblock sidebar %}

{% block main %}
    <h2>Profile Settings</h2>
    <div class="container">
        <button class="info" data-info="profile">Say Hello</button>
        This is the profile settings page
    </div>
{% endblock main %}